*.bak
cmd.txt
bin/
project/bin/
project/edit-list/
project/Makefile.setup
project/Makefile.local
project/Makefile.user
project/wszst
project/wbmgt
project/wctct
project/wimgt
project/wkclt
project/wkmpt
project/wlect
project/wmdlt
project/wpatt
project/wstrt
project/wtest
project/wlayt
project/wbrsar
project/wwc24crypt
project/wbmsx
project/wseqt
project/wbfsar
project/wbrstm
project/wrbnk
project/gen-ui
/patches/
__pycache__/
*.pyc
_trace*
*.tmp
/tests/samples-excitebots/
